* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sono', sans-serif;

  background: #292524;
  color: #fafaf9;

  padding: 40px;
}

h1 {
  font-size: 42px;
  line-height: 1;
  margin-top: 6px;

  text-transform: uppercase;
  text-align: center;
  font-family: 'Coiny', Arial, sans-serif;
}

ul {
  list-style: none;
}

.header {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -1px;

  background-color: #44403c;

  margin-bottom: 16px;
  padding: 16px 24px;

  display: flex;
  align-items: center;

  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', Arial, sans-serif;
  padding: 3px 10px;
}

.vote-buttons {
  margin-left: auto;
}
